@page
@model AppModel
@{
    ViewData["Title"] = "App";
}

<div class="main">
    <div class="nav">
        <div class="company-title">Fleetwood Immigration</div>
        <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
</div>

<div class="app-screen">
    <div class="create-section">
        <div class="title">Create New File</div>
        <div class="input-fields">
            <input type="text" class="field-control" id="filename" placeholder="File Name" required />
            <select class="field-control" required>
                <option value="">Select visa type</option>
                <option value="vv">Visitor Visa</option>
                <option value="sv">Student Visa</option>
            </select>

            <button class="field-control">Create</button>
        </div>
    </div>
</div>
