@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-section">
    <h1 class="text-danger">Error.</h1>

    @if(PageContext.HttpContext.Request.Query.TryGetValue("message", out var errorMessage))
    {
        <p>@errorMessage</p>
    }
</div>
